*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family:'Roboto', sans-serif;
}

body{
    width: 100%;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}
.main-conteiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-content{
    width: 100%;
}
.img-content img{
    width: 100%;
}
.img-dek{
    opacity: 0;
    max-height: 0;
}
.first-conteiner .content-box{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    width: 90%;
}
.content-box .title{
    font-size: 2.2em;
    color: hsl(235, 18%, 26%);
}
.content-box .intro{
    font-size: 0.9em;
}
.content-box ul{
    font-size: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-box ul li{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.content-box ul li i{
    color: hsl(4, 100%, 67%);
    font-size: 1.1em;
    font-weight: bold;
}
.content-box .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.form label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75em;
    font-weight: 700;
    max-width: 375px;
}
label .opacityZero{
    color: orange;
    opacity: 0;
}
.form input{
    padding-left: 15px;
    border: 3px solid lightgray;
    font-size: 0.9em;
    margin-bottom: 12px;
}
.form button{
    background-color: hsl(235, 18%, 26%);
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    border: none;
}
.form input,
.form button{
    height: 55px;
    border-radius: 10px;
    max-width: 375px;
}

.success-conteiner{
    display: none;
    width: 90%;
    height: 100%;
    position: absolute;
    z-index: 9;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.box-success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 5%;
    width: 100%;
    height: 100%;
    gap: 4%;
}
.box-text{
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25%;
}
.box-success i{
    width: 100%;
    max-width: 375px;
    text-align: left;
    color: hsl(4, 100%, 67%);
    font-size: 4em;
    font-weight: bold;
}
.box-success .box-text .title{
    text-align: left;
    width: 90%;
    max-width: 375px;
    font-size: 2.2em;
}
.box-success .box-text .text-content{
    width: 80%;
    max-width: 375px;
}
.box-success .text-content span{
    font-weight: bold;
    font-size: 1.1em;
}
.box-success .dismiss-btn{
    height: 40px;
    width: 100%;
    max-width: 375px;
    border-radius: 5px;
    color: #fff;
    background-color: hsl(235, 18%, 26%);
    font-weight: bold;
    border: none;
}
.active{
    display: flex;
}
.opacity{
    opacity: 0;
}
.attribution{
    text-align: center;
}
@media (min-width: 900px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        max-width: 1440px;
        background-color: hsl(235, 18%, 26%);
    }
    main{
        min-width: 810px;
        width: 75%;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 1.5%;
        max-width: 931.2px;

    }
    .first-conteiner{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        height:100%;
        width: 100%;
    }
    .img-content{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        width: 80%;
    }
    .img-dek{
        opacity: 1;
        max-height:  100%;
        object-fit: cover;
    }
    .img-mob{
        opacity: 0;
        max-height: 0;
    }
    .content-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75%;
    }
    .success-conteiner{
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 8;
        /*display: flex;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: hsl(235, 18%, 26%);
    }
    .box-success{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        width: 40%;
        max-width: 410px;
        height: 65%;
        max-height: 405px;
        padding: 2.5%;
        border-radius: 25px;
    }
    .box-success i{
        width: 100%;
        max-width: 375px;
        text-align: left;
        color: hsl(4, 100%, 67%);
        font-size: 2.5em;
        font-weight: bold;
    }
    .box-text{
        width: 100%;
        max-width: 375px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 0;
    }
    .box-success .box-text .text-content{
        width: 100%;
    }
    .active{
        display: flex;
    }
}